Repository SchweizerischeBundesbahnen/strictdoc-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-lock

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --config-file
  - pyproject.toml
  require_serial: true

uv-lock:
  name: uv-lock
  entry: uv lock --check
  language: system
  pass_filenames: false

chore: pin the quote decision and lint the tests at commit time
  .pre-commit-config.yaml
  pyproject.toml
Due: uv-lock

chore: adopt the shared ruff standard (#112)
  .pre-commit-config.yaml
  app/metrics_server.py
  app/strictdoc_controller.py
  app/strictdoc_service_application.py
  docs/alpine-not-supported.md
  pyproject.toml
  tests/export/conftest.py
  tests/test_metrics_server.py
  tests/test_sanitization.py
  tests/test_strictdoc_controller.py
  tests/test_uvloop_compatibility.py
Due: mypy, uv-lock

chore: mark where repository-specific ignores go
  pyproject.toml
Due: uv-lock

chore: mark where repository-specific ignores go (#113)
  pyproject.toml
Due: uv-lock

chore: keep the reason out of the noqa directive
  app/metrics_server.py
Due: mypy

chore: keep the reason out of the noqa directive (#114)
  app/metrics_server.py
Due: mypy

chore: sync with open-source-polarion-python-repo-template
  .gitignore
  .pre-commit-config.yaml
  CODING_STANDARDS.md
  CONTRIBUTING.md
  pyproject.toml
Due: uv-lock

chore: sync with open-source-polarion-python-repo-template
  app/strictdoc_controller.py
Due: mypy

chore: sync with open-source-polarion-python-repo-template
  CODING_STANDARDS.md
Due: none

chore: sync with open-source-polarion-python-repo-template
  .pre-commit-config.yaml
Due: none

feat: add version headers to /export
  app/strictdoc_controller.py
  tests/export/test_unit.py
  tests/test_strictdoc_controller.py
Due: mypy

feat: add version headers to /export
  .github/workflows/add-issue-to-project.yml
Due: none

feat: add version headers to /export
  app/strictdoc_controller.py
Due: mypy

feat: add version headers to /export
  tests/test_strictdoc_controller.py
Due: none

feat: return StrictDoc version as response header on export (#118)
  .github/workflows/add-issue-to-project.yml
  app/strictdoc_controller.py
  tests/export/test_unit.py
  tests/test_strictdoc_controller.py
Due: mypy

chore: drop the local renovate rule for asdf
  renovate.json
Due: none

chore: drop the local renovate rule for asdf (#119)
  renovate.json
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (^tests/)
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
