Repository SchweizerischeBundesbahnen/strictdoc-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-lock

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: sensitive-data-leak-urls
        name: Sensitive data leak - URLs
        entry: (?<!polarion-opensource@)(?<!www\.)sbb\.ch
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-ue-numbers
        name: Sensitive data leak - UE numbers
        entry: \b([uUeE]{1,2})\d{5,6}\b
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-dev-ticket-numbers
        name: Sensitive data leak - DEV ticket numbers
        entry: \bDEV-\d{1,6}\b
        language: pygrep
        types: [text]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        exclude: (^tests/)
        args: [--config-file, pyproject.toml]
        require_serial: true  # Serial processing is required for mypy (better performance and error reporting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: uv-lock
        name: uv-lock
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|uv\.lock)$
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/grigoriev/pre-commit-check-git-user
    rev: v0.9.0
    hooks:
      - id: check-git-config-user-email
        args: [--templates, ^\S+\.\S+@sbb\.ch$]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

feat: export sdoc to git
  app/strictdoc_controller.py
  tests/test_strictdoc_controller.py
Due: mypy

feat: export sdoc to git
  tests/test_strictdoc_controller.py
Due: none

feat: export sdoc to git
  app/sanitization.py
  app/strictdoc_controller.py
Due: mypy

feat: export sdoc to git
  app/strictdoc_controller.py
Due: mypy

fix(security): sanitize StrictDoc subprocess output before logging
  app/strictdoc_controller.py
Due: mypy

fix(security): sanitize subprocess output at the RuntimeError raise site
  app/strictdoc_controller.py
Due: mypy

fix(security): drop exc_info and sanitize exception text in command handler
  app/strictdoc_controller.py
Due: mypy

fix(security): harden remaining export error handlers against log injection
  app/strictdoc_controller.py
Due: mypy

fix(security): sanitize SDOC parse error before logging and HTTP response
  app/strictdoc_controller.py
Due: mypy

refactor(security): restore logger.exception where the message is sanitized at source
  app/strictdoc_controller.py
Due: mypy

fix(security): sanitize StrictDoc subprocess output before logging (#105)
  app/strictdoc_controller.py
Due: mypy

feat: export sdoc to github
  Dockerfile
  app/strictdoc_controller.py
  entrypoint.sh
  pyproject.toml
  tests/test_strictdoc_controller.py
  uv.lock
Due: mypy, uv-lock

feat: add multi-export functionality to service
  README.md
  app/sanitization.py
  app/strictdoc_controller.py
  tests/test_strictdoc_controller.py
Due: mypy

feat: add multi-export functionality to service
  app/strictdoc_controller.py
  tests/export/test_integration.py
Due: mypy

feat: add multi-export functionality to service
  app/strictdoc_controller.py
Due: mypy

feat: add multi-export functionality to service
  tests/export/test_integration.py
Due: none

feat: add multi-export functionality to service
  app/strictdoc_controller.py
  tests/export/conftest.py
  tests/export/test_integration.py
Due: mypy

feat: add multi-export functionality to service
  app/strictdoc_controller.py
  tests/export/test_integration.py
  tests/test_strictdoc_controller.py
Due: mypy

feat: add multi-export functionality to service
  tests/test_strictdoc_controller.py
Due: none

feat: add multi-export functionality to service
  .mcp.json
  app/strictdoc_controller.py
  tests/export/test_unit.py
  tests/test_strictdoc_controller.py
Due: mypy

feat: add multi-export functionality to service
  app/strictdoc_service_application.py
Due: mypy

feat!: redesign /export as JSON API with multi-document support (#108)
  CLAUDE.md
  README.md
  app/strictdoc_controller.py
  app/strictdoc_service_application.py
  tests/export/conftest.py
  tests/export/test_integration.py
  tests/export/test_unit.py
  tests/test_strictdoc_controller.py
  tests/test_strictdoc_service_application.py
Due: mypy

chore: adopt the shared ruff standard
  app/metrics_server.py
  app/strictdoc_controller.py
  app/strictdoc_service_application.py
  docs/alpine-not-supported.md
  pyproject.toml
  tests/export/conftest.py
  tests/test_metrics_server.py
  tests/test_sanitization.py
  tests/test_strictdoc_controller.py
  tests/test_uvloop_compatibility.py
Due: mypy, uv-lock

chore: say what select = ["ALL"] does and does not guarantee
  pyproject.toml
Due: uv-lock

chore: say that the marker takes per-file ignores only
  pyproject.toml
Due: uv-lock
