Repository SchweizerischeBundesbahnen/strictdoc-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, uv-lock

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: sensitive-data-leak-urls
        name: Sensitive data leak - URLs
        entry: (?<!polarion-opensource@)(?<!www\.)sbb\.ch
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-ue-numbers
        name: Sensitive data leak - UE numbers
        entry: \b([uUeE]{1,2})\d{5,6}\b
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-dev-ticket-numbers
        name: Sensitive data leak - DEV ticket numbers
        entry: \bDEV-\d{1,6}\b
        language: pygrep
        types: [text]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        exclude: (^tests/)
        args: [--config-file, pyproject.toml]
        require_serial: true  # Serial processing is required for mypy (better performance and error reporting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: uv-lock
        name: uv-lock
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|uv\.lock)$
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/grigoriev/pre-commit-check-git-user
    rev: v0.9.0
    hooks:
      - id: check-git-config-user-email
        args: [--templates, ^\S+\.\S+@sbb\.ch$]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.16.3
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.8
    hooks:
      - id: actionlint

fix: enable Python 3.14 support with uvloop 0.22+
  app/strictdoc_controller.py
  pyproject.toml
  sonar-project.properties
  tests/container/container-structure-test.yaml
  tests/test_uvloop_compatibility.py
  tox.ini
  uv.lock
Due: mypy, uv-lock

fix: enable Python 3.14 support with uvloop 0.22+ (#76)
  app/strictdoc_controller.py
  pyproject.toml
  sonar-project.properties
  tests/container/container-structure-test.yaml
  tests/test_uvloop_compatibility.py
  tox.ini
  uv.lock
Due: mypy, uv-lock

feat(deps): update dependency strictdoc to v0.16.3
  app/strictdoc_controller.py
Due: mypy

feat: add prometheus metrics
  README.md
  app/metrics_server.py
  app/prometheus_metrics.py
  app/strictdoc_controller.py
  app/strictdoc_metrics.py
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/generate-load.sh
  monitoring/grafana/dashboards/strictdoc-service.json
  monitoring/grafana/provisioning/dashboards/default.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  monitoring/restart-monitoring.sh
  monitoring/start-monitoring.sh
  monitoring/stop-monitoring.sh
  pyproject.toml
  tests/test_metrics_server.py
  tests/test_prometheus_metrics.py
  tests/test_strictdoc_controller.py
  tests/test_strictdoc_metrics.py
  uv.lock
Due: mypy, uv-lock

feat: add prometheus metrics
  app/metrics_server.py
  app/prometheus_metrics.py
  tests/test_metrics_server.py
  tests/test_prometheus_metrics.py
Due: mypy

feat: add prometheus metrics
  app/metrics_server.py
  app/strictdoc_controller.py
  tests/test_prometheus_metrics.py
Due: mypy

feat: add prometheus metrics
  README.md
  monitoring/README.md
Due: none

feat: add prometheus metrics
  app/metrics_server.py
  app/prometheus_metrics.py
  app/strictdoc_metrics.py
  tests/test_prometheus_metrics.py
Due: mypy

feat: add prometheus metrics
  app/metrics_server.py
  monitoring/README.md
  tests/test_prometheus_metrics.py
Due: mypy

feat: add prometheus metrics
  app/strictdoc_controller.py
  app/strictdoc_metrics.py
  monitoring/docker-compose.yml
  pyproject.toml
  tests/test_strictdoc_metrics.py
  uv.lock
Due: mypy, uv-lock

chore(ci): enhance Claude Code Review workflow with additional PR types and guidelines
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

feat: add prometheus metrics
  Dockerfile
  README.md
Due: none

feat: add prometheus metrics
  app/metrics_server.py
Due: mypy

feat: add prometheus metrics
  app/strictdoc_controller.py
Due: mypy

feat: add prometheus metrics
  app/constants.py
  app/prometheus_metrics.py
  app/strictdoc_controller.py
Due: mypy

feat: add prometheus metrics
  Dockerfile
  app/metrics_server.py
  monitoring/docker-compose.yml
Due: mypy

feat: add prometheus metrics (#82)
  Dockerfile
  README.md
  app/constants.py
  app/metrics_server.py
  app/prometheus_metrics.py
  app/strictdoc_controller.py
  app/strictdoc_metrics.py
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/generate-load.sh
  monitoring/grafana/dashboards/strictdoc-service.json
  monitoring/grafana/provisioning/dashboards/default.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  monitoring/restart-monitoring.sh
  monitoring/start-monitoring.sh
  monitoring/stop-monitoring.sh
  pyproject.toml
  tests/test_metrics_server.py
  tests/test_prometheus_metrics.py
  tests/test_strictdoc_controller.py
  tests/test_strictdoc_metrics.py
  uv.lock
Due: mypy, uv-lock

fix: use named logger instead of root logger
  app/strictdoc_controller.py
Due: mypy

fix: use parameterized logging for consistency
  app/strictdoc_controller.py
Due: mypy

fix: use named logger instead of root logger (#96)
  app/strictdoc_controller.py
Due: mypy

refactor: restructure licensing for proper Apache 2.0 detection (#93)
  CONTRIBUTING.md
  DCO
  LICENSE
  LICENSES/Apache.txt
  NOTICE
Due: none

docs: slim CLAUDE.md, unpin stale version, untrack .claude/ config
  .claude/agents/context7-docs.md
  .claude/agents/subagent-expert.md
  .claude/agents/ubi-redhat-expert.md
  .claude/settings.json
  .gitignore
  CLAUDE.md
  README.md
Due: none

ci: switch tox to uv-venv-lock-runner for faster setup (#92)
  pyproject.toml
  tox.ini
  uv.lock
Due: uv-lock

refactor: restructure licensing for proper Apache 2.0 detection (#97)
  CONTRIBUTING.md
  DCO
  LICENSE
  LICENSES/Apache.txt
  NOTICE
Due: none

docs: slim CLAUDE.md to real gotchas and unpin stale StrictDoc version (#98)
  .claude/agents/context7-docs.md
  .claude/agents/subagent-expert.md
  .claude/agents/ubi-redhat-expert.md
  .claude/settings.json
  .gitignore
  CLAUDE.md
  README.md
Due: none

ci: align tox.ini with open-source-polarion-docker-repo-template
  tox.ini
Due: none

ci: switch tox to uv-venv-lock-runner for faster CI (#99)
  pyproject.toml
  tox.ini
  uv.lock
Due: uv-lock

ci: migrate workflows to reusable workflows from github-workflows-polarion
  .github/workflows/actionlint.yml
  .github/workflows/add-issue-to-project.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/pr.yml
  .github/zizmor.yml
Due: none

chore: sync pre-commit config from open-source-polarion-docker-repo-template
  .pre-commit-config.yaml
  tests/export/conftest.py
  tests/test_metrics_server.py
  tests/test_sanitization.py
  tests/test_strictdoc_controller.py
  tests/test_uvloop_compatibility.py
Due: none

chore: align pyproject metadata with open-source-polarion-docker-repo-template
  pyproject.toml
  uv.lock
Due: uv-lock

test: drop unused result assignment in test_successful_validation_with_safe_paths
  tests/test_strictdoc_controller.py
Due: none

ci: migrate workflows to reusable + align config/metadata with template (#101)
  .github/workflows/actionlint.yml
  .github/workflows/add-issue-to-project.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/pr.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/export/conftest.py
  tests/test_metrics_server.py
  tests/test_sanitization.py
  tests/test_strictdoc_controller.py
  tests/test_uvloop_compatibility.py
  uv.lock
Due: uv-lock

feat: export sdoc to git
  .mcp.json
  Dockerfile
  app/strictdoc_controller.py
  app/strictdoc_service_application.py
  entrypoint.sh
  pyproject.toml
  tests/export/test_unit.py
  tests/test_strictdoc_controller.py
  tests/test_strictdoc_service_application.py
  uv.lock
Due: mypy, uv-lock

feat: export sdoc to git
  pyproject.toml
  tests/export/test_integration.py
  tests/test_strictdoc_service_application.py
  uv.lock
Due: uv-lock

feat: export sdoc to git
  Dockerfile
  app/strictdoc_controller.py
  entrypoint.sh
Due: mypy

feat: export sdoc to git
  app/strictdoc_controller.py
  tests/test_strictdoc_controller.py
Due: mypy

feat: export sdoc to git
  CLAUDE.md
  app/strictdoc_controller.py
  tests/export/test_integration.py
  tests/test_strictdoc_controller.py
Due: mypy

feat: export sdoc to git
  app/strictdoc_controller.py
Due: mypy

feat: export sdoc to git
  tests/test_strictdoc_controller.py
Due: none
